@model IEnumerable<helperland1._0.ViewModel.CustomerDashboard>;
@{
    int ServiceHistoryCount = 0;

}

<div id="service_history" class="tab-contant">
    <div class="clearfix">
        <div class="d-flex justify-content-between">
            <p class="alignleft"> Service History </p>
            <button id="export" class="ServiceHistroyExport" >Export</button>
        </div>
        <table class="table" id="ServiceHistoryTable">
            <thead class="table-light">
                <tr class="text-center">
                    <th scope="col" class="serviceHistoryServiceDetails"> Service Details <img src="/image/sort.png"></th>
                    <th scope="col" class="serviceHistoryServiceProvider"> Service Provider <img src="/image/sort.png"></th>
                    <th scope="col" class="serviceHistoryServicePayment"> Payment <img src="/image/sort.png"></th>
                    <th scope="col" class="serviceHistoryServiceStatus"> Status <img src="/image/sort.png"></th>
                    <th scope="col"> Rate SP </th>
                </tr>
            </thead>
            <tbody>

                @if (Model.Count() > 0)
                {

                    @foreach (var item in Model)
                    {

                        @if (item.Status == 3 || item.Status == 4)
                        {


                            string disabled, rateClass, statusbtn;

                            @if (item.Status == 3)
                            {
                                rateClass = "rateactive";
                                statusbtn = "completed";
                                disabled = "";
                            }
                            else
                            {

                                statusbtn = "cancelled";
                                disabled = "disabled";
                                rateClass = "rateDisabled";
                            }
                            ServiceHistoryCount = ServiceHistoryCount + 1;
                            <tr data-value=@item.ServiceRequestId class="text-center">
                                <td data-label="Service Details">
                                    <div> <img src="~/image/calendar.png" alt="calender"> @item.Date</div>
                                    <p class="service-time">@item.StartTime - @item.EndTime </p>

                                </td>

                                <td data-label="Service Provider" class="clearfix">
                                    @if (item.ServiceProvider != null)
                                    {
                                        <div class="cap-icon"> <img src=@item.UserProfilePicture alt=".."> </div>
                                        <div style="font-weight:400" class="text-start"> @item.ServiceProvider</div>
                                        
                                        <div>
                                            @for (int i = 1; i <= 5; i++)
                                            {
                                                @if (i <= item.AverageRating)
                                                {
                                                    <i class="fa fa-star " style="color:#ECB91C;"></i>

                                                }
                                                else
                                                {
                                                    <i class="fa fa-star " style="color:silver;"></i>

                                                }

                                            }
                                            <span>@item.AverageRating</span>
                                        </div>
                                    }
                                </td>
                                <td data-label="Payment">
                                    <p class="price">&euro; @item.TotalCost </p>
                                </td>

                                <td data-label="Status">

                                    <button disabled class=@statusbtn>@statusbtn</button>

                                </td>
                                <td data-label="Rate SP">
                                    <button class=@rateClass @disabled data-bs-toggle="modal" data-bs-target="#myRatingModal">Rate</button>
                                </td>
                            </tr>

                        }
                    }
                }
            </tbody>
        </table>

        <div class="card mobileview clearfix mx-auto" style="width:100%; padding:0% 5% 0% 5%; ">


            @if (Model.Count() > 0)
            {
                @foreach (var item in Model)
                {
                    @if (item.Status == 3 || item.Status == 4)
                    {

                        string disabled, rateClass, statusbtn;

                        @if (item.Status == 3)
                        {
                            rateClass = "rateactive";
                            statusbtn = "completed";
                            disabled = "";
                        }
                        else
                        {

                            statusbtn = "cancelled";
                            disabled = "disabled";
                            rateClass = "rateDisabled";
                        }

                        <div class="card-body" data-value=@item.ServiceRequestId>

                            <span>


                                <img src="~/image/calendar.png" alt="calender"><h6 class="d-inline pe-2 "> <span class="d-none d-sm-inline-block">Service</span>  Date:</h6><span class="date mb-0">@item.Date</span><br>
                                <img src="~/image/clock.png" alt="calender"><h6 class="pe-2 d-inline  "><span class="d-none d-sm-inline-block">Service</span> Time:</h6> @item.StartTime - @item.EndTime


                            </span>
                            <hr>
                            @if (item.ServiceProvider != null)
                            {

                                <h6 class="pe-2 ">Service Provider Name:</h6>
                                <div class="cap-icon">  <img src=@item.UserProfilePicture alt="..">   </div>
                                @item.ServiceProvider
                                <div>
                                    @for (int i = 1; i <= 5; i++)
                                            {
                                                @if (i <= item.AverageRating)
                                                {
                                                    <i class="fa fa-star " style="color:#ECB91C;"></i>

                                                }
                                                else
                                                {
                                                    <i class="fa fa-star " style="color:silver;"></i>

                                                }

                                            }
                                    <span>@item.AverageRating</span>
                                    
                                </div>

                                <hr />




                            }


                            <p class="price"><h6 class="d-inline pe-2">Price:</h6> &euro; @item.TotalCost </p>
                            <hr>
                            <div class="d-flex justify-content-around">
                                @* <button class="customerReschedule ms-2" value=@item.ServiceRequestId data-bs-toggle="modal" data-bs-target="#rescheduleModelServiceRequest">Reschedule</button>*@

                                <button disabled class=@statusbtn>@statusbtn</button>
                                <button class=@rateClass data-bs-toggle="modal" data-bs-target="#myRatingModal" @disabled>Rate SP</button>

                                @*<button class="customerCancel me-2" value=@item.ServiceRequestId data-bs-toggle="modal" data-bs-target="#deleteModelServiceRequest">Cancel</button>*@
                            </div>
                        </div>
                    }
                }

            }
        </div>
    </div>

















</div>

<!-- rate model  -->

<div class="modal" id="myRatingModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" style="max-width:500px">
        <div class="modal-content">
            <div class="modal-header">
                <div class="show_rating_model" id="show_rating_model">

                    <div class="row ms-2">

                        <div class="col cap-icon"><img src="~/image/cap.png" alt=".."></div>
                        <div class="col ">
                            <div class="row service-provider-ratingmodel ps-2" style="width: 200px;">  </div>
                            <div class="star-ratingmodel text-start">
                            </div>



                        </div>
                    </div>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>



            </div>
            <div class="modal-body">
                <form>
                    <h4 class="rateservicepro">
                        Rate Your Service Provider
                    </h4>
                    <hr class="reschedulehr">

                    <div class="ontimearrival starratings ratingfortimearrival row ml-1">
                        <p class="mr-2 ratingtxt">On Time Arrival</p>

                        <span class="ratings1s ">
                            <i class="fa fa-star " id="ontime1"></i>
                            <i class="fa fa-star " id="ontime2"></i>
                            <i class="fa fa-star " id="ontime3"></i>
                            <i class="fa fa-star " id="ontime4"></i>
                            <i class="fa fa-star " id="ontime5"></i>
                            <span class="infomsg"></span>
                        </span>
                    </div>

                    <div class="ontimearrival starratings ratingforfriendly row ml-1">
                        <p class="mr-2 ratingtxt">Friendly</p>

                        <span class="ratings2 ">
                            <i class="fa fa-star " id="friendly1"></i>
                            <i class="fa fa-star " id="friendly2"></i>
                            <i class="fa fa-star " id="friendly3"></i>
                            <i class="fa fa-star " id="friendly4"></i>
                            <i class="fa fa-star " id="friendly5"></i>
                            <span class="friendlymsg"></span>
                        </span>
                    </div>

                    <div class="ontimearrival starratings ratingforquality row ml-1">
                        <p class="mr-2 ratingtxt">Quality Of Service</p>

                        <span class="ratings3 ">
                            <i class="fa fa-star " id="quality1"></i>
                            <i class="fa fa-star " id="quality2"></i>
                            <i class="fa fa-star " id="quality3"></i>
                            <i class="fa fa-star " id="quality4"></i>
                            <i class="fa fa-star " id="quality5"></i>
                            <span class="qualitymsg"></span>

                        </span>
                    </div>

                    <div class="form-group givefeedback">
                        <label for="feedbackcomment">Comments</label>
                        <textarea class="form-control" id="feedbackcomment" rows="2"></textarea>
                    </div>
                    <div class="text-center">
                        <button type="submit" data-bs-dismiss="modal" class="rate" id="confirm_rating">Submit</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>




