@model IEnumerable<helperland1._0.ViewModel.CustomerDashboard>;

@{
String CurrentDate = DateTime.Now.AddDays(1).ToString("yyyy-MM-dd");
}



@{
    int ServiceDashboardCount = 0;
}
<div id="dashboard" class="tab-contant">
    <div class="clearfix">
        <div class="d-flex justify-content-between">
            <p class="alignleft "> Customer Service Request </p>

            <a asp-controller="Customer" asp-action="BookService"> <button class="alignright ">Add new request</button></a>

        </div>
        <table id="dashbordTable" class="table">
            <thead class="table-light">
                <tr class="text-center">
                    <th scope="col" style="width: 17%"> Service ID <img src="/image/sort.png"></th>
                    <th scope="col" style="width: 20%"> Service Date <img src="/image/sort.png"> </th>
                    <th scope="col" style="width: 30%"> Service Provider <img src="/image/sort.png"> </th>
                    <th scope="col" style="width: 15%"> Payment <img src="/image/sort.png"> </th>
                    <th scope="col" style="width: 9% ;text-align:end;padding-right:0px"> Acti</th>
                    <th scope="col" style="width: 9%  ;text-align:start;padding-left:0px"">on</th>

                </tr>
            </thead>
            <tbody>


                @if (Model.Count() > 0)
                {

                    @foreach (var item in Model)
                    {

                        @if (item.Status == 1 || item.Status == 2)
                        {

                            ServiceDashboardCount = ServiceDashboardCount + 1;

                            <tr data-value=@item.ServiceRequestId class="text-center">
                                <td data-label="Service ID">

                                    <p>@item.ServiceRequestId</p>

                                </td>
                                <td data-label="Service Date">
                                    <div> <img src="/image/calendar.png" alt="calender"> @item.Date </div>
                                    <p class="service-time"> @item.StartTime - @item.EndTime </p>

                                </td>

                                <td data-label="Service Provider" class="clearfix">
                                   @if (item.ServiceProvider != null)
                                    {

                                        <div class="cap-icon"> <img src=@item.UserProfilePicture class="spavtar" alt=".."> </div><div style="font-weight:400" class="text-start"> @item.ServiceProvider</div>
                                        <div>
                                            @for (int i = 1; i <= 5; i++)
                                            {
                                                @if (i <= item.AverageRating)
                                                {
                                                    <i class="fa fa-star " style="color:#ECB91C;"></i>

                                                }
                                                else
                                                {
                                                    <i class="fa fa-star " style="color:silver;"></i>

                                                }

                                            }
                                            <span>@item.AverageRating</span>
                                        </div>
                                    }
                                </td>


                                <td data-label="Payment">
                                    <p class="price">&euro; @item.TotalCost </p>
                                </td>

                                                
                                <td data-label="Reschedule"> <button class="customerReschedule" style="float:right" data-bs-toggle="modal" data-bs-target="#rescheduleModelServiceRequest" value=@item.ServiceRequestId>Reschedule</button></td>
                                <td data-label="Cancel" ><button class="customerCancel" data-bs-toggle="modal" data-bs-target="#deleteModelServiceRequest" value=@item.ServiceRequestId>Cancel</button></td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>





        
        <div class="card mobileview clearfix mx-auto" style="width:100%; padding:0% 5% 0% 5%; ">
            @if (Model.Count() > 0)
            {
                @foreach (var item in Model)
                {
                    @if (item.Status == 1 || item.Status == 2)
                    {

                        <div class="card-body" data-value=@item.ServiceRequestId>
                            <h6 class="d-inline pe-2">Service Id : </h6> @item.ServiceRequestId
                            <hr />
                            <span>


                                <img src="/image/calendar.png" alt="calender"><h6 class="d-inline pe-2 "> <span class="d-none d-sm-block">Service</span>  Date:</h6><span class="date mb-0">@item.Date</span><br>
                                <img src="/image/clock.png" alt="calender"><h6 class="pe-2 d-inline  "><span class="d-none d-sm-block">Service</span> Time:</h6> @item.StartTime - @item.EndTime


                            </span>
                            <hr>
                            @if (item.ServiceProvider != null)
                            {

                                <h6 class="pe-2 ">Service Provider Name:</h6>
                                <div class="cap-icon">  <img src=@item.UserProfilePicture alt="..">   </div>
                                @item.ServiceProvider
                                <div>
                                  @for (int i = 1; i <= 5; i++)
                                            {
                                                @if (i <= item.AverageRating)
                                                {
                                                    <i class="fa fa-star " style="color:#ECB91C;"></i>

                                                }
                                                else
                                                {
                                                    <i class="fa fa-star " style="color:silver;"></i>

                                                }

                                            }
                                    <span>@item.AverageRating</span>
                                </div>

                                <hr />




                            }


                            <p class="price"><h6 class="d-inline pe-2">Price:</h6> &euro; @item.TotalCost </p>
                            <hr>
                            <div class="d-flex justify-content-around">
                                <button class="customerReschedule" value=@item.ServiceRequestId data-bs-toggle="modal" data-bs-target="#rescheduleModelServiceRequest">Reschedule</button>

                                <button class="customerCancel" value=@item.ServiceRequestId data-bs-toggle="modal" data-bs-target="#deleteModelServiceRequest">Cancel</button>
                            </div>
                        </div>
                    }
                }

            }
        </div>


        

        
        


       
    </div>

  

</div>





<div class="modal" tabindex="-1" id="deleteModelServiceRequest">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
             <input type="hidden" id="CancelRequestId" name="CancelRequestId" />
            <div class="modal-header">
                <h5 class="modal-title">Cancel Service Request</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="comment" class="form-label">Why you want to cancel the service request?</label>
                <textarea class="form-control" id="cancelReason" rows="3"></textarea>
                <div class="text-center">
                    <button class="customerCancel" type="button" data-bs-dismiss="modal" class="mt-2 cancel" id="CancelRequestBtn">Cancel Now</button>
                </div>
            </div>
        </div>
    </div>
</div>

@*All Details Model*@

<button id="serviceReqdetailsbtn" data-bs-toggle="modal" data-bs-target="#detailsModelServiceRequest" class="d-none">details</button>


<div class="modal" tabindex="-1" id="detailsModelServiceRequest">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-start">
            <div class="modal-header">
                <h5 class="modal-title">Service Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body float-start">
                <h4 id="CDSDDateTime">05/10/2021 08:00 - 11:30</h4>
                <p>Duration: <span id="CDSDDuration"></span> </p>
                <hr>
                <p>Service id: <span id="CDSDId"></span></p>
                <div class="row"> <p class="col-2 d-inline">Extras: </p> <div class="col-10 d-inline" id="CDSDExtra"></div></div>

                <p>Net Amount: <span id="CDSDAmount">8750 &euro;</span> </p>
                <p id="CDSDStatus"></p>
                <hr>
                <p>Service Address:<span id="CDSDAddress"></span></p>
                <p>Billing Address: <span>same as cleaninng address</span></p>
                <p>phone:<span id="CDSDPhone"></span></p>
                <p>Email:<span id="CDSDEmail"> </span></p>
                <hr>

                <p>Comments <span id="CDSDComment"></span></p>
                @*only show in dashboard status =1 & 2 *@
                <span id="customerdashboardbtn">
                   <hr>



                    <div class="text-center  d-flex justify-content-around">
                        <button class="customerReschedule" data-bs-toggle="modal" data-bs-target="#rescheduleModelServiceRequest" id="' '">Reschedule</button><button class="customerCancel" data-bs-toggle="modal" data-bs-target="#deleteModelServiceRequest">Cancel</button>
                    </div> 

                </span>
                 @*only show in service history  status =3 *@
                <span id="customerServiceHistorybtn">
                    <hr>



                    <div class="text-center  d-flex justify-content-around">
                        <button class="rate" data-bs-toggle="modal" data-bs-target="#myRatingModal" >Rate </button>
                    </div>

                </span>

            </div>
        </div>
    </div>
</div>








@* Reschedule model*@
<div class="modal" tabindex="-1" id="rescheduleModelServiceRequest">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Reschedule Service Request</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Select New Date & Time</p>
                <div class="row">
                    <div class="col-sm-6 col-12"> <input id="selected_date" type="date" value=@CurrentDate  placeholder="canlender" min=@CurrentDate></div>
                    <div class="col-sm-6 col-12">
                         <input type="hidden" id="updateRequestId" name="updateRequestId" />
                        <select class="form-select" id="selected_time">
                           <option selected value="08:00:00">8:00 </option>
										<option value="08:30:00">8:30 </option>
										<option value="09:00:00">9:00 </option>
										<option value="09:30:00">9:30 </option>
										<option value="10:00:00">10:00 </option>
										<option value="10:30:00">10:30 </option>
										<option value="11:00:00">11:00 </option>
										<option value="11:30:00">11:30 </option>
										<option value="12:00:00"> 12:00  </option>
										<option value="12:30:00">12:30 </option>
										<option value="13:00:00"> 13:00  </option>
										<option value="13:30:00">13:30 </option>
										<option value="14:00:00"> 14:00  </option>
										<option value="14:30:00">14:30 </option>
										<option value="15:00:00"> 15:00  </option>
										<option value="15:30:00">15:30 </option>
										<option value="16:00:00"> 16:00  </option>
										<option value="16:30:00">16:30 </option>
										<option value="17:00:00"> 17:00  </option>
										<option value="17:30:00">17:30 </option>
										<option value="18:00:00"> 18:00  </option>

                        </select>
                    </div>
                </div>
                <div class="text-center">
                    <button id="RescheduleServiceRequest" type="submit" data-bs-dismiss="modal" class="customerReschedule" >Update</button>
                </div>
            </div>
        </div>
    </div>
</div>